div:hover {
    border: 5px solid black;
}

div:nth-of-type(1) {
    background-color: red;
    color: white;
}

div:nth-of-type(1) h3 {
    font-style: italic;
}

div:nth-of-type(2) {
    background-image: linear-gradient(to right,rgb(131, 128, 128), rgb(141, 34, 34));

}

div:nth-of-type(2) h3 {
    color:rgb(253, 54, 54);
}

div:nth-of-type(3) {
    background-color: darkorange;
    color: brown;
    height: 150px;
}

div:nth-of-type(3) h3 {
    font-style: italic;
}

div:nth-of-type(4) {
    background-color: black;
}

div:nth-of-type(4) h3 {
    color: darkgrey;
}

div:nth-of-type(5) {
    background-color: aquamarine;
    color: blue;
}

div:nth-of-type(5) h3 {
    font-style: italic;
}