body {
    font-size: 16px;
}

h1{
    font-size: 3em;
    color: orange;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
}

li {
    font-style: italic;
    line-height: 35px;
}

.color-p-ul {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}